<div class="container-fluid">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <%= render partial: 'upload_csv_form' %>
  <style type="text/css">
    .clear{
      top: 7px;
      right: 25px;
      clear: none;
      position: absolute;
      width: 15px;
      height: 100%;
      cursor: pointer;
    }
    #reportrange{
      padding-right: 25px !important;
    }
  </style>
  <div class="row">
    <div class="col-sm-3 main">
      <%= search_form_for @q, remote: true do |f| %>
        <div class="my-3">
          <div class='row'>
            <h5 style="float: left; margin-left: 10px;">Select all: </h5>
            <input type='checkbox' class='select_checkbox checkmark'>
            <%= f.submit 'Search', class: 'btn btn-outline-danger mx-2 my-2 my-sm-0', style: 'float: right; right:0; position: absolute;' %>
          </div>
          <div class="row mt-3">
            <div class="col-md-4"><b>Company:</b></div>
            <div class="col-md-8" id='company_name_box'>
              <%= f.select :company_name_in, CelloMaster.all.pluck(:company_name).uniq, {}, { multiple: true, class: 'company_name_select form-control' }  %>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-4"><b>Category:</b></div>
            <div class="col-md-8" id='category_box'>
              <%= f.select :category_in, CelloMaster.all.pluck(:category).uniq, {}, { multiple: true, class: 'category_select' }  %>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-4"><b>Sub Category:</b></div>
            <div class="col-md-8" id='divison_box'>
              <%= f.select :divison_in, CelloMaster.all.pluck(:divison).uniq, {}, { multiple: true, class: 'divison_select' }  %>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-4"><b>Product:</b></div>
            <div class="col-md-8" id='product_box'>
              <%= f.select :product_name_in, CelloMaster.all.pluck(:product_name).uniq, {}, { multiple: true, class: 'product_select' }  %>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-4"><b>Capacity:</b></div>
            <div class="col-md-8" id='capacity_box'>
              <%= f.select :capacity_in, CelloMaster.all.pluck(:capacity).uniq, {}, { multiple: true, class: 'capacity_select' }  %>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-4">
              <label for="amount"><b>MRP:</b></label>
            </div>
            <div class="col-md-8">
              <%= f.search_field :mrp_gteq, class: 'amountBox' %> To
              <%= f.search_field :mrp_lteq, class: 'amountBox' %>
            </div>
          </div>
          <div class="row">
            <div id="mrp_slider" class="mt-2" style="width: 95%; margin-left: 15px;"></div>
          </div>
          <div class="row mt-3">
            <div class="col-md-4">
              <label for="amount"><b>DRP:</b></label>
            </div>
            <div class="col-md-8">
              <%= f.search_field :drp_gteq, class: 'amountBox' %> To
              <%= f.search_field :drp_lteq, class: 'amountBox' %>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-4">
              <label for="amount"><b>Arrival Date:</b></label>
            </div>
            <div class="col-md-8">
              <%= f.search_field :arrival_date_gteq, class: 'd-none', 'datepicker' => true %>
              <%= f.search_field :arrival_date_lteq, class: 'd-none', 'datepicker' => true %>
              <div id="reportrange" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
                  <i class="fa fa-calendar"></i>&nbsp;
                  <span></span> <i class="fa fa-caret-down"></i>
              </div>
              <span class='clear'><i class="fa fa-times" aria-hidden="true"></i></span>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-4">
              <label for="amount"><b>Mode:</b></label>
            </div>
            <div class="col-md-8">
              <%= f.select :product_mode_eq, CelloMaster.product_modes, {include_blank: true}, { multiple: false, class: 'product_mode_select' }  %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class='col-sm-9'>
      <div class='row mt-3' id='cello_master_list'>
        <% @cello_masters.each do |cello_master| %>
          <%= render partial: 'cello_master_row', locals: {cello_master: cello_master}%>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
$(function() {

    rangepicker();

    $('.clear').click(function(){
      $('#reportrange').empty().append('<i class="fa fa-calendar"></i>&nbsp;<span></span> <i class="fa fa-caret-down"></i>');
      $('#q_arrival_date_gteq').val('');
      $('#q_arrival_date_lteq').val('');
      rangepicker();
    })

});
function rangepicker(){
  var start = moment().subtract(29, 'days');
  var end = moment();

  function cb(start, end) {
    $('#reportrange span').html(start.format('MMM D, YYYY') + ' - ' + end.format('MMM D, YYYY'));
    $('#q_arrival_date_gteq').val(start.format('YYYY-MM-DD'));
    $('#q_arrival_date_lteq').val(end.format('YYYY-MM-DD'));
  }

  $('#reportrange').daterangepicker({
      // startDate: start,
      // endDate: end,
      ranges: {
         'Today': [moment(), moment()],
         'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
         'Last 7 Days': [moment().subtract(6, 'days'), moment()],
         'Last 30 Days': [moment().subtract(29, 'days'), moment()],
         'This Month': [moment().startOf('month'), moment().endOf('month')],
         'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')],
         'Last Year': [moment().subtract(1, 'year').startOf('year'), moment().subtract(1, 'year').endOf('year')]
      }
  }, cb);
}
</script>
