<p id="notice"><%= notice %></p>

<p>
  <strong>Company name:</strong>
  <%= @cello_master.company_name %>
</p>

<p>
  <strong>Divison:</strong>
  <%= @cello_master.divison %>
</p>

<p>
  <strong>Category:</strong>
  <%= @cello_master.category %>
</p>

<p>
  <strong>Product name:</strong>
  <%= @cello_master.product_name %>
</p>

<p>
  <strong>Capacity:</strong>
  <%= @cello_master.capacity %>
</p>

<p>
  <strong>Volume:</strong>
  <%= @cello_master.volume %>
</p>

<p>
  <strong>Mrp:</strong>
  <%= @cello_master.mrp %>
</p>

<p>
  <strong>Drp:</strong>
  <%= @cello_master.drp %>
</p>

<p>
  <strong>Trade discount:</strong>
  <%= @cello_master.trade_discount %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @cello_master.rate %>
</p>

<p>
  <strong>Scheme:</strong>
  <%= @cello_master.scheme %>
</p>

<p>
  <strong>Net rate:</strong>
  <%= @cello_master.net_rate %>
</p>

<%= link_to 'Edit', edit_cello_master_path(@cello_master) %> |
<%= link_to 'Back', cello_masters_path %>
